body, html {
  height:100%;
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size:12px;

}

.is-hidden{
  display: none;
  max-height: 0;
}

.nflow-vis-tree{


  .timeline-bg rect{
    fill: none;
    stroke: #eeeeee;
    stroke-width: 2px;
  }


  .node {
      cursor: pointer;

      path {
        fill: rgba(255,255,255,.95);
        stroke: #159957;
        stroke-width: 2px;
      }

      path.is-flow {
        fill: #C1E0F5;
        stroke: #1f8dd6;
      }

      &.is-parent-cancelled path.is-flow {
        stroke: #F68E8E;
      }

    }


  .listener {
    fill: #C1E0F5;
    stroke: none;
  }
  .listener:hover {
    fill: #1f8dd6;
  }

  .link.is-cancelled {
    stroke: #F68E8E;
  }

  .is-parent-cancelled path {
    stroke: #F68E8E;
  }

  .has-no-recipients path.is-flow{
    stroke:#7A7A7A;
    fill: #DBDBDB;
  }

  .is-cancelled .listener {
    fill: #F5C1C1;
  }
  .node.is-cancelled path,
  .node.is-cancelled path.is-flow {
    stroke: #991515;
  }
  .node.is-disposed path,
  .node.is-disposed path.is-flow {
    stroke: #DDDDDD;
  }

  .is-recipient path {
    stroke: #1f8dd6;
    fill: #C1E0F5;
  }
  .is-recipient text {
    font-weight: bold;
  }
  .is-emitter path {
    stroke: #1f8dd6;
    fill: #1F8DD6;
  }
  .is-emitter text {
    font-weight: bold;
  }
  .overlay {
    fill: none;
    pointer-events: all;
  }
}
