
.node-label{
  alignment-baseline: baseline;
  font-size: 16px;
  fill: #606c71;
  transform-origin: 0 0;
}

.is-disposed .node-label{
  fill: #DDDDDD;
}

.text-bg{
  fill: #ffffff;
  opacity: .5;
}

.has-data {
  stroke: #AAAAAA;
  fill: #DDDDDD;
  stroke-width: 1px;
  opacity: .5;
}
